<!-- Carousel -->
<div id="myCarousel" class="carousel slide" style="margin-top: -10px">
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag('Fotolia_49082426_M.jpg')%>
			<div class="container">
				<div class="carousel-caption">
					<h1>Manage Data</h1>
					<a class="btn btn-large btnGreen" href="/contact">Contact Us!</a>
				</div>
			</div>
		</div>
		<div class="item">
			<%= image_tag('Fotolia_50178229_M.jpg')%>
			<div class="container">
				<div class="carousel-caption">
					<h1>Access Data</h1>
					<a class="btn btn-large btnGreen" href="/contact">Contact Us!</a>
				</div>
			</div>
		</div>
				<!-- <div class="item">
									<%= image_tag('slide-01.jpg')%>
									<div class="container">
										<div class="carousel-caption">
										</div>
									</div>
								</div> -->
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->